@use '@angular/material' as mat;
@use './styles/m3-theme.scss' as m3-theme;

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}


html {
  @include mat.all-component-themes(m3-theme.$dark-theme);
  @include mat.color-variants-backwards-compatibility(m3-theme.$dark-theme);

  @media (prefers-color-scheme: light) {
    @include mat.all-component-colors(m3-theme.$light-theme);
    @include mat.color-variants-backwards-compatibility(m3-theme.$light-theme);
  }
}
@include mat.core();
